/vendor/
/web/core/
/web/modules/contrib/
/web/profiles/
/web/themes/contrib/
/web/sites/*/files
/web/sites/*/settings.php
/web/sites/*/services.yml
/config/sync/
/.idea/
/.vscode/
/.DS_Store
/ddev/db_snapshots/

/.env.local
/node_modules/
/package-lock.json
/yarn.lock
